

nav {
 background: #444;
 width: 100%;
}
nav ul {
 padding: 0;
 margin: 0;
}
nav ul li {
 display: inline-block;
 list-style-type: none;
 margin: 0;
 padding: 10px 0;
 font-size: .8em;
 padding-left: 15px;
 color: #000;
 opacity: 0.75;
}


ul {
    list-style-type: none;
   
}

li{
	float: left;
}

li a{
	display: block;
}

.nav-right{
	float: right;
}

#sign-in {
    background-color: #4286f4;
    padding: 3px 8px;
    border: none;
    font-size: 90%;
    text-align: center;
    color: white;
    border-radius: 8%;
}


.logo {
    display: block;
    margin: 0 auto;
    width: 60%;
    padding-top: 120px;
    padding-bottom: 20px;
    text-align: center;
}

.search_form{
	text-align: center;
}

input{
	line-height: 34px;
    height: 34px !important;
    width: 600px;
    border: 1px solid #b8afaf;
}


form {
    display: inline-block;
    text-align: center;
}


button {
	border: none;
	background-color: rgb(242,242,242);
	color: rgb(117,117,117);
	font-size: 13px;
	font-family: arial, sans-serif;
}

.footer{
	position: fixed; 
	bottom: 0; 
	width: 100%;
}

